<body class="fondo"> 
    <div class="container">
        <div class="box">
            <img src="/img/logo-la-norteñita.jpeg" alt="logo" width="300px">
            <h1>Bienvenido a la <span>Norteñita</span></h1>
            <form id="form-login" action="/login-user" method="POST">
                <label for="user">Ingrese su correo:</label>
                <input type="email" name="correo" id="user">
                <label for="password">Ingrese su contraseña:</label>
                <input type="password" name="contrasena" id="password">
                <button type="submit">Ingresar</button>
                <span><a href="/registrar">Registrarse en el sistema</a></span>
            </form>
        </div>
    </div>
</body>