<body>
    <div class="banner">
        <div class="logo">
            <div class="logo-box">
                <img id="logo-box-img" src="/img/logo-la-norteñita.jpeg" alt="" style="height:61px">
            </div>
        </div>
        <div class="banner-info">
            <div class="banner-info_title">
                <span class="hello">Bienvenido al Sistema</span>
                <span class="slug">Dashboard <%= slug %> </span>
            </div>
            <div class="user">
                <div class="user-img">
                    <img src="" alt="">
                </div>
                <div class="user-sesion">
                    <span class="user-sesion_nombre">Brishman</span>
                    <span class="user-sesion_rol">Administrador</span>
                </div>
            </div>
        </div>

    </div>
</body>